MYSQL_ROOT_PASSWORD=root123
MYSQL_USER=healthcare_user
MYSQL_PASSWORD=healthcare_pass
MYSQL_PORT=3306

AUTH_DB=auth_db
PATIENT_DB=patient_db
DOCTOR_DB=doctor_db
APPOINTMENT_DB=appointment_db
PAYMENT_DB=payment_db
NOTIFICATION_DB=notification_db
AI_SYMPTOM_CHECKER_DB=ai_symptom_checker_db
TELEMEDICINE_DB=telemedicine_db

AUTH_SERVICE_PORT=8081
PATIENT_SERVICE_PORT=8082
DOCTOR_SERVICE_PORT=8083
APPOINTMENT_SERVICE_PORT=8084
PAYMENT_SERVICE_PORT=8085
NOTIFICATION_SERVICE_PORT=8086
AI_SYMPTOM_CHECKER_SERVICE_PORT=8087
TELEMEDICINE_SERVICE_PORT=8088
GATEWAY_PORT=8080
